@font-face {
  font-family: 'open-sans';
  src: local('OpenSans'), url('../fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open-sans-bold';
  src: local('OpenSans'), url('../fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: $White-Color;
  scroll-behavior: smooth;
  font-family: open-sans, sans-serif;
}

//a{
//  //color: $theme-light-red;
//  //text-decoration: none;
//  &:hover{
//    //color: $theme-light-red;
//  }
//}

.f-12 {
  font-size: 12px;
}

.f-14 {
  font-size: 14px;
}

.f-16 {
  font-size: 16px;
}

.f-18 {
  font-size: 18px;
}

.f-20 {
  font-size: 20px;
}

.f-22 {
  font-size: 22px;
}

.f-24 {
  font-size: 24px;
}

.f-26 {
  font-size: 26px;
}

.f-36 {
  font-size: 36px;
}

.f-bold {
  font-weight: bold;
  font-family: open-sans-bold, serif;
}

.f-bolder {
  font-weight: bolder;
}
.w-50 {
  width: 50%;
}
.opacity-100 {
  opacity: 100;
}

.f-right {
  float: right;
}

.mh-60{
  min-height: 60vh;
}

/* Scrollbar Styling */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background-color: $theme-black;
}

*::-webkit-scrollbar-thumb {
  background: $theme-red;
}

.cursor-pointer {
  cursor: pointer;
}

//Toast Style
.Toastify__toast-container {
  width: 100% !important;
  top: 0 !important;
  padding: 0 !important;
  .Toastify__toast{
    padding: 10px;
    min-height: 0 !important;
    text-align: center !important;
  }
  .Toastify__toast--success {
    background: #279d59;
  }
  .Toastify__toast--error {
    background: $theme-red;
  }
}

.container-main {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-wrap: wrap;
  overflow: hidden;
}

.main {
  height: calc(100% - 60px);
  display: flex;
  flex: 1;
  width: 100%;
}

.page-content-full {
  overflow-y: scroll;
  padding: 10px 20px;
  box-sizing: border-box;
  width: 100%;
  flex: 1;
}

.page-content {
  overflow-y: scroll;
  padding: 10px 20px;
  box-sizing: border-box;
  width: 85%;
  flex: 1;
}

.bg-red{
  background-color: $theme-red;
}

.bg-light-red{
  background-color: $theme-light-red;
}

hr.red{
  background: none;
  height: 2px;
  border: 0;
  background: $theme-light-red;
  //box-shadow: inset 0 12px 12px -12px $theme-red;
}

.border-red {
  border: 2px solid $theme-red !important
}

.no-wrap {
  white-space: nowrap;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: black;
  content: var(--bs-breadcrumb-divider, ">") /* rtl: var(--bs-breadcrumb-divider, "/") */;
}

.font-red {
  color: $theme-red !important;
}

.font-theme-light-black{
  color: $theme-light-black !important;
}

.font-green {
  color: $color-green !important;
}

.font-orange {
  color: $color-orange !important;
}

.text-light-red{
  color: $theme-light-red !important;
}

.border-left-white {
  border-left: 1px solid $White-Color;
}

.border-right-white {
  border-right: 1px solid $White-Color;
}

.bg-blur {
  background-color: rgba(0,0,0,0.6);
}

.bg-grey {
  background-color: $Disable-gray;
}

.react-select__control {
  border: 0 !important;
}

.react-select__control--is-focused{
  box-shadow: none !important;
  border: 0 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

//@media (max-width: 575.98px) {
//  .page-content{
//    padding: 10px 5px;
//  }
//}

.filter-enter {
  opacity: 0;
  transform: scale(0.9);
}
.filter-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.filter-exit {
  opacity: 1;
}
.filter-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.astric {
  color: $theme-error;
  margin-right: 5px;
}

.filter-section {
  .form-content {
    background-color: $theme-black;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
    color: $White-Color;

    .btn-disabled {
      opacity: 0.8;
    }
  }

  .filter-icons {
    text-align: end;
    margin-left: auto;

    .clear {
      margin-left: 15px;
    }
  }
}
.table-data{
  th img{
    margin-left: 10px;
  }
}

@media (max-width:575.98px) {
  .sidebar{
    width: 220px;
    position: absolute !important;
    z-index: 1;
  }
  .page-content{
    width: 100%;
  }
  .w-50 {
    width: 100% !important;
  }

}

@media screen and (max-width:767.98px){
  .sidebar{
    width: 40%;
    //position: absolute !important;
    //z-index: 1;
  }
  .page-content{
    width: 60%;
  }
}

@media screen and (max-width:991.98px){
  .sidebar,.header-logo{
    width: 30%;
    //position: absolute !important;
    //z-index: 1;
  }
  .page-content{
    width: 70%;
  }
}

@media screen and (max-width:1199.98px){
  .sidebar,.header-logo{
    width: 60%;
    //position: absolute !important;
    //z-index: 1;
  }
  .page-content{
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .sidebar,.header-logo{
    width: 20%;
    //position: absolute !important;
    //z-index: 1;
  }
  .page-content{
    width: 80%;
  }
}

/* Top Tabination Styles Start */
.tabs-ul{
  margin: 15px 0;
  .nav-item{
    margin-right: 10px;
  }
}
.table-data-width {
  max-width: 150px;
}


/* Custom Checkbox */
input[type = 'checkbox'] {
  height: 15px;
  width: 15px;
  min-width: 15px;
  min-height: 15px;
  margin-top: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid $Disable-gray;
  border-radius: 3px;
  outline: none;
  transition-duration: 0.3s;
  background-color: white;
  cursor: pointer;

  &:hover {
    border: 1px solid $theme-light-red;
  }
}

input[type = 'checkbox']:checked {
  border: 1px solid $theme-light-red;
  background-color: $theme-light-red;
  position: relative;
}

input[type = 'checkbox']:checked::after {
  content: '\2713';
  font-size: 13px;
  height: 15px;
  width: 15px;
  min-width: 15px;
  min-height: 15px;
  display: block;
  text-align: center;
  color: white;
  position: absolute;
  left: -0.04em;
  bottom: 0.01em;
}

input[type = 'checkbox']:active {
  border: 1px solid $theme-red;
}

input[type = 'checkbox']:disabled {
  border: 1px solid $Disable-gray;
  background-color: $Disable-gray;
  position: relative;
}

.pointer-none {
  pointer-events: none;
}
